@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

button {
    background-image: linear-gradient(to right, #f16652, #f10052);
    border-radius: 50px;
    padding: 10px 12px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    color: #fff;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

button:active {
    opacity: .8;
}

button:focus {
    outline: none;
    box-shadow: 0 0 1px 2px #f16652;
}

.modal-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0;
    z-index: -1;

    transition: all .2s ease-in-out
}

.modal-wrapper.open {
    opacity: 1;
    z-index: 99;
}

.modal {
    background-color: #fff;
    width: 30%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    background-color: transparent;
}

@media screen and (max-width: 600px) {
    .modal {
        width: 50%
    }
}

@media screen and (max-width: 450px) {
    .modal {
        width: 95%
    }
}

.modal-header {
    padding: 15px 0;
    background-color: #f16652;
    background-image: linear-gradient(to right, #f16652, #f10052);
    border-radius: 5px 5px 0 0;
}

.modal-header h3 {
    margin: 0;
    color: #fff;
}

.modal-body {
    padding: 15px 20px;
    background-color: #fff;
}

.modal-body h4 {
    margin: 0;
}

.modal-body p {
    margin: 10px 0px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.modal-footer {
    padding: 15px 0px;
    background-color: #eee;
    border-radius: 0 0 5px 5px;
}