* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 60%;
}

body {
    background-color: rgb(153, 72, 72);
}

.contenedor {
    font-size: 2rem;
    background-color: rgb(235, 227, 227);
    width: 80%;
    margin: 0 auto;
}

.contenedor-productos {
    padding: 3rem;

    margin: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;

    flex-wrap: wrap;
}

.producto {
    background-color: #fff;
    border-radius: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 300px;

    -webkit-box-shadow: 0px 3px 8px -3px rgba(0, 0, 0, 0.5);

    margin: 1.5rem;

}

.producto .producto-foto {
    position: relative;
    background-color: rgb(233, 138, 138);
    border-radius: 5px 5px 0 0;
    height: 150px;
}

@media screen and (max-width: 1380px) {
    .contenedor-productos {
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 1200px) {
    .contenedor {
        width: 95%;
    }
}

@media screen and (max-width: 1100px) {

    .contenedor {
        width: 100%;
    }

    .contenedor-productos {
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 800px) {

    .contenedor-productos {
        margin: 0;
        padding: 0;
    }

    .producto .producto-foto {
        height: 100px;
    }

    .producto {
        margin: 10px;
    }
}

@media screen and (max-width: 769px) {
    .productos {
        width: 234px;
    }
}

@media screen and (max-width: 640px) {

    .producto {
        width: 200px;
    }

    .producto-descripcion p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 440px) {
    .producto .producto-foto {
        height: 100px;
    }

    .producto {
        width: 160px;
    }

    .contenedor {
        padding: 0;
        margin: 0;
    }

    .contenedor-productos {
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    .producto .producto-foto span {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 320px) {

    .producto {
        margin: 0.8rem;
        width: 140px;
    }
}

.producto .producto-foto .foto {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.producto .producto-foto span {
    display: inline-block;
    position: absolute;
    background-color: rgb(233, 138, 138);
    opacity: .98;
    color: #fff;
    bottom: -11px;
    right: 0;
    padding: .7rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    -webkit-box-shadow: -1px 4px 7px -2px rgba(0, 0, 0, 0.5);

    width: 83%;
    text-align: center;
}


.producto-descripcion {
    background-color: rgb(240, 212, 121);
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto-descripcion p {
    margin-top: 1.2rem;
}

/*********************************************/
/****** BUTTON ******************************/

button {
    border: none;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;

    color: rgb(41, 94, 16);
    background-image: linear-gradient(to left, rgb(92, 236, 148), rgb(60, 233, 167));
    padding: .7rem 1rem;
    margin-top: 1.2rem;

    align-self: center;

    box-shadow: 0 1px 0px 1px rgba(0, 0, 0, 0.5);

    outline: none;
    cursor: pointer;
}



/* HEADER */

.header {
    background-color: rgb(141, 77, 141);
    text-align: center;

    padding: 3rem;
    margin-bottom: 2rem;
}

.header h2 {
    color: #fff;
}