.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--gris-medio-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem
}

.header {

    font-size: 1.4rem;

    height: 7rem;
    background-color: #fff;
    border-bottom: var(--gris-medio-2);

    //Flexbox
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--gris-medio-3);

    /*flex: 0 0 18%;*/
    flex-basis: 18%;
}

.hotel-view {
    background-color: #fff;
    background-color: aqua;

    flex: 1;
}